:root {
  --shadow-color: 264deg 39% 3%;
  --shadow-elevation-low: 0px 1px 1.1px hsl(var(--shadow-color) / 0.34),
    0px 1.7px 1.9px -1.2px hsl(var(--shadow-color) / 0.34),
    0px 4px 4.5px -2.5px hsl(var(--shadow-color) / 0.34);
  --shadow-elevation-low-reverse: 0px -1px 1.1px hsl(var(--shadow-color) / 0.34),
    0px -1.7px 1.9px -1.2px hsl(var(--shadow-color) / 0.34),
    0px -4px 4.5px -2.5px hsl(var(--shadow-color) / 0.34);
  --shadow-elevation-medium: 0px 1px 1.1px hsl(var(--shadow-color) / 0.36),
    0px 3.3px 3.7px -0.8px hsl(var(--shadow-color) / 0.36),
    0px 8.2px 9.2px -1.7px hsl(var(--shadow-color) / 0.36),
    0px 20px 22.5px -2.5px hsl(var(--shadow-color) / 0.36);
  --shadow-elevation-high: 0px 1px 1.1px hsl(var(--shadow-color) / 0.3),
    0px 5.3px 6px -0.3px hsl(var(--shadow-color) / 0.3),
    0px 9.5px 10.7px -0.6px hsl(var(--shadow-color) / 0.3),
    0px 14.9px 16.8px -0.9px hsl(var(--shadow-color) / 0.3),
    0px 22.7px 25.5px -1.2px hsl(var(--shadow-color) / 0.3),
    0px 33.9px 38.1px -1.6px hsl(var(--shadow-color) / 0.3),
    0px 49.7px 55.9px -1.9px hsl(var(--shadow-color) / 0.3),
    0px 71.4px 80.3px -2.2px hsl(var(--shadow-color) / 0.3),
    0px 100px 112.5px -2.5px hsl(var(--shadow-color) / 0.3);

  --gray: #6f6e73;
  --light-yellow: #f2cb07;
  --dark-yellow: #fab005;
  --purp: rgba(29, 23, 38);
  --Navy: #212e37;
  --white: #f2f2f2;
  --font-size: 1rem;
  --mono: "Oxygen mono", monospace;
  --sans: Oxygen, sans-serif;
  --bg: linear-gradient(
    120deg,
    #1d1726,
    #1c1927,
    #1c1b29,
    #1c1d2b,
    #1c1f2c,
    #1c222e,
    #1c2430,
    #1c2631,
    #1c2833,
    #1c2b35
  );
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: var(--bg);
  background-size: 100%;
  height: 100vh;
  margin: 0;
  padding: 5vh;
  font-family: var(--sans);
  color: var(--black);
  font-size: var(--font-size);
  overflow: hidden;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 90vw;
  min-height: 90vh;
  max-width: 1024px;
  border: 1px solid var(--light-yellow);
  border-radius: 6px;
  background-color: rgba(29, 23, 38, 0.4);
  box-shadow: var(--shadow-elevation-medium);
  z-index: 2;
  overflow: hidden;
}

/* nav ------------------------------------------- */
nav {
  padding: 0 1rem;
  flex-basis: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: var(--white);
  background-color: rgba(29, 23, 38, 0.9);
  border-radius: 6px 6px 0px 0px;
  box-shadow: var(--shadow-elevation-low);
  z-index: 2;
}

nav ul {
  padding: 0;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  gap: 1rem;
}

.nav-special {
  background-color: var(--dark-yellow);
  color: var(--Navy);
  padding: 4px;
  border: 1px solid var(--light-yellow);
  border-radius: 4px;
  box-shadow: var(--shadow-elevation-low);
}

.nav-special:hover {
  background-color: var(--purp);
  color: var(--light-yellow);
}
.nav-special:active {
  background-color: var(--purp);
  color: var(--light-yellow);
}

span {
  margin: 0 0.4rem;
}

.logo {
  text-align: center;
  flex-basis: 100%;
}

.logo h1 a {
  color: var(--dark-yellow);
  font-family: var(--mono);
  font-size: 70%;
  opacity: 0.5;
  margin: 0;
}

#logo-h1 {
  padding: 0;
  margin: 0;
}
/* ----------------------------------------------- */

a,
a:visited,
a:active {
  color: inherit;
  text-decoration: none;
}

/* main ------------------------------------------ */

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 2;
}

/* landing---------------------------------------- */
.landing-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  max-width: 700px;
  height: 500px;
  letter-spacing: 0.1rem;
  margin-top: 0.8rem;
}

.landing-container p {
  flex-basis: 90%;
  margin: 0;
  font-size: 120%;
  color: var(--white);
  text-align: center;
  font-family: var(--mono);
  font-weight: 700;
}

.landing-container p span {
  width: 100%;
  color: var(--dark-yellow);
}

.landing-container h1 {
  flex-basis: 90%;
  font-size: 220%;
  color: var(--white);
  text-align: right;
  margin: 0.5rem 0;
}

#gh {
  font-family: var(--mono);
  font-size: 100%;
  text-align: left;
  margin-top: 30%;
  align-self: flex-end;
}

/* footer */

.footer {
  z-index: 2;
  font-size: 80%;
  flex-basis: 100%;
  text-align: center;
  height: 4%;
  min-height: 2vh;
  border-radius: 0px 0px 6px 6px;
  background-color: rgba(29, 23, 38, 0.7);
  color: var(--gray);
  align-self: flex-end;
  box-shadow: var(--shadow-elevation-low-reverse);
}

@media (min-width: 800px) {
  body {
    padding-top: 2vh;
  }
  .logo {
    justify-self: flex-start;
    align-self: flex-start;
    flex-basis: 50%;
    font-size: smaller;
    text-align: left;
  }

  .logo h1 {
    width: 100%;
    margin: 0;
  }

  /*landing page desktop*/
  .landing-container p {
    font-size: 220%;
    max-width: 1024px;
  }

  .landing-container h1 {
    font-size: 320%;
  }
}

/* stars */

@keyframes star {
  0% {
    position: absolute;
    top: -50%;
    left: 40%;
    opacity: 0;
  }

  50% {
    opacity: 0.09;
  }

  100% {
    position: absolute;
    top: 90%;
    left: 70%;
    opacity: 0.5;
    transform: rotate(-0.7turn);
  }
}
@keyframes star-two {
  0% {
    position: absolute;
    top: -20%;
    left: 20%;
    opacity: 0;
  }

  50% {
    opacity: 0.01;
  }

  100% {
    position: absolute;
    top: 90%;
    left: 20%;
    opacity: 0.5;
    transform: rotate(0.7turn);
  }
}
@keyframes star-three {
  0% {
    position: absolute;
    top: -10%;
    left: 40%;
    opacity: 0;
  }

  50% {
    opacity: 0.09;
    transform: rotate(0.1turn);
  }

  100% {
    position: absolute;
    top: 90%;
    left: 50%;
    opacity: 0.5;
    transform: rotate(-2turn);
  }
}
@keyframes star-four {
  0% {
    position: absolute;
    top: -20%;
    left: 50%;
    opacity: 0;
  }

  50% {
    opacity: 0.01;
    filter: drop-shadow(#ee00ff);
    color: red;
    box-shadow: red;
  }

  100% {
    position: absolute;
    top: 78%;
    left: 50%;
    opacity: 0.06;
    transform: rotate(1.7turn);
    filter: drop-shadow(#ee00ff);
    box-shadow: red;
    color: red;
  }
}

@keyframes star-color {
  0% {
  }

  50% {
  }

  100% {
    filter: invert(12%) sepia(34%) saturate(6801%) hue-rotate(350deg)
      brightness(104%) contrast(118%);
  }
}

@keyframes blinky {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}

.star-color {
  animation-name: star-color;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-duration: 30s;
  animation-delay: 0s;
}

.stars {
  z-index: 1;
  animation-name: star;
  animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.99);
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-duration: 10s;
  animation-delay: 0s;
}

.stars-two {
  z-index: 1;
  animation-name: star-two;
  animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.99);
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-duration: 15s;
  animation-delay: 0s;
}

.stars-three {
  z-index: 1;
  animation-name: star-three;
  animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.99);
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-duration: 20s;
  animation-delay: 0s;
}

.stars-four {
  z-index: 1;
  animation-name: star-four;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-duration: 30s;
  animation-delay: 0s;
}

#greater {
  animation-name: blinky;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 5s;
}

/* maybe later
 * backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.09);
  border-radius: 82% 18% 87% 13% / 17% 81% 19% 83%  ;
*/
